<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Casdoor Shiro Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
    <a class="navbar-brand" th:href="@{/}">Casdoor Shiro Example</a>
</nav>
<div class="container">
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <p>Welcome!</p>
    <a th:if="${user == null}" th:href="@{/login}" class="btn btn-primary">Login with Casdoor</a>
    <a th:if="${user != null}" th:href="@{/foos}" class="btn btn-primary">Foos</a>
</div>
</body>
</html>
